:root{
  --text-input-field: #F7F7F7;
  --ligth-green: #ACD9B2;
  --ligth-green-two: #B6ECC5;
  --green: #92E3A9;
  --yellow: #fafa9c;
  --alert: #FF7F76;
  --error: #FF3300;
}


.container{
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
}
.containerCards{
  display:grid;
  grid-template-columns: repeat(auto-fill, 240px);
  place-content: center;
  gap: 80px;
  margin: 50px 60px;
}

.pagination{

  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.arrowsPagination{
  border: none;
  font-weight: bold;
  font-size: 30px;
}

.arrowsPagination:hover{
  background-color: var(--green);
  border-radius: 8px;
  transform: scale(1.15);
}

.pageNumber{
  background-color: #dcdada ;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
}

.pageNumber:hover{
  transform: scale(1.15);
  background-color: var(--ligth-green-two);
  
}
.pageNumberActive{
  background-color: var(--yellow);
  transform: scale(1.15);
  font-weight: bold;
  width: 35px;
  height: 33px;
  border-radius: 50%;
  border: none;
  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
}

.filterBar{
  display: flex;
  flex-direction: column;
}

.filterBar form{
  align-self: center;
  display: flex;
}


.filterBar label{
  font-size: 18px;
  margin-right: 15px;
}


.filterBar select{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  background-color: #F7F7F7 ;
  border:none;
  /* width: 200px; */
  height: 50px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
}

.noDisplay{
  display:none;
}



.notFoundMsg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  margin: auto;
  width: 430px;
  height: 430px;
  padding: 15px;
  border-radius: 2px;
  background-color: var(--yellow);

  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
}

.notFoundMsg span{
  color: var(--alert);
  font-size: 55px;
}

.returnButton{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  
  place-self: center;
  height: 30px;
  width: 150px;
  margin: 20px;

  background-color: var(--green);
  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  border: none;
  border-radius: 10px;
}

.returnButton:hover{
  transform: scale(1.1);
  background-color: var(--yellow);
}


@media(max-width:840px){
  .container{
    display: flex;
    flex-direction: column;
  }

  .containerCards{
    display:grid;
    grid-template-columns: repeat(auto-fill, 200px);
    place-content: center;
    gap: 4px;
    width: 90%;
  }

  .pagination{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 4px;
  }
  
  .arrowsPagination{
    font-size: 15px;
  }
  
  .arrowsPagination:hover{
    transform: scale(1.1);
  }
  
  .pageNumber{
    color: black;
    font-size: 10px;
    width: auto;
    height: auto;
    border-radius: 0px;
  }
  

  .pageNumberActive{
    color: black;
    background-color: var(--yellow);
    transform: scale(1.05);
    font-size: 12px;
    font-weight: bold;
    width: 25px;
    height: 20px;
    border-radius: 0px;
  }

  .filterBar{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .filterBar label{
    font-size: 12px;
    margin-right: 15px;
  }
  
  
  .filterBar select{
    color: black;
    font-size: 14px;
    background-color: #F7F7F7 ;
    border:none;
    height: 25px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

}



@media(max-width:640px){  
  .filterBar label{
    font-size: 10px;
  }
  
  .filterBar select{
    font-size: 12px;
    height: 18px;
    border-radius: 15px;
    padding:2px;
  }
}

@media(max-width:490px){

  .containerCards{
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap: 5px;
    width: 90%;
  }
}